<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
    * {
        box-sizing: border-box;
    }

	html,
	body {
        font-size: 1rem;
		margin: 10px;
        padding-bottom: 25vh;
	}

    table {
        border-collapse: collapse;
        min-width: 200px;
        text-align: left;
        border-spacing: 5px;
    }

    table, td, th {
        border: 1px solid black;
    }

    td, th {
        padding: 3px;
    }

    pre {
        padding: 5px;
        background: #eee;
    }

    h2, h3, h4, h5, h6 {
        margin-top: 2em;
    }
</style>
